<<<<<<< HEAD
﻿
@inherits LayoutComponentBase

<div class="main">
=======
﻿@inherits LayoutComponentBase

<div class="main">

>>>>>>> 9e6b9473dcf2cd01f3c11c3d90412de78c5a2a62
    <div class="content px-4">
        @Body
    </div>
</div>